.data-container {
    border-radius: 10px;
    min-height: 150px;
    color: white;
    background-color: white;
}

#acc {
    background: #E57C23;
}

#asgn {
    background: #E8AA42;
}

#job {
    background: #025464;
}