.asgn-container {
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}

.record-container {
    border-radius: 10px;
    min-height: 150px;
    background-color: #eee;
    margin: 10px 0;
}

.accordion {
    background-color: #eee;
}

#employee {
    min-height: 600px;
    max-height: 600px;
    overflow: auto;
}